.content {
	margin: 0 auto;
	width: 100vw;
	max-width:100%;
	display: flex;
  	flex-direction: column;
	justify-content: flex-start;
}

.photo {
	margin: 200px auto 0 auto;
	width: 250px;
	max-width: 550px;
    height: 270px;
    background-image: url("../img/photo.jpg"); 
    background-size: cover;
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}

.box {
	height: 100vh;
}

.title {
	margin-top: 65px;
	font-size: 70px;
	font-weight: bolder;
	letter-spacing: 6px;
	font-family: secondFont;
}

.text {
	margin: -70px auto 0 auto;
	width: 580px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 34px;
	font-family: maybeFont;
}

.scroll {
	margin: 200px auto 0 auto;
	width: 60px;
    max-width: 220px;
    height: 60px;
    content: url("../img/down-arrows.png"); 
    background-size: cover;
	opacity: 0.5;
    filter: alpha(opacity=50);
	boarder: none;
}

.med-icon {
	width: 260px;
    height: 240px;
	margin-bottom: 22px;
	border-radius: 100em;
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}

.sm-icon {
	width: 60px;
    height: 50px;
	margin: 0 auto 5px auto;
}

.lg-icon {
    height: 180px;
	width: 100%;
    background-size: cover;
	margin-right: 10px;
	border-bottom: solid rgba(92,104,112,1) 6px;
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}

.column span {
	margin: 0 auto;
	width: 240px;
}
.box3 {
	padding: 100px 80px 0 80px;
}

.box1 {
	height: 95vh;
}

.box2 {
	padding: 0 120px;
	font: 12px maybeFont;
	letter-spacing: 2px;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flip-container {
	perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back, .opacity, .z2 {
	width: 260px;
    height: 240px;
	border-radius: 100em;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	position:relative;
	transform: rotateY(180deg);
}

.opacity {
	position: absolute;
	z-index: 1;
	background: rgba(92,104,112,1);
	background: -moz-linear-gradient(-45deg, rgba(92,104,112,1) 0%, rgba(19,27,43,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92,104,112,1)), color-stop(100%, rgba(19,27,43,1)));
	background: -webkit-linear-gradient(-45deg, rgba(92,104,112,1) 0%, rgba(19,27,43,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(92,104,112,1) 0%, rgba(19,27,43,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(92,104,112,1) 0%, rgba(19,27,43,1) 100%);
	background: linear-gradient(135deg, rgba(92,104,112,1) 0%, rgba(19,27,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6870', endColorstr='#131b2b', GradientType=1 );
	opacity: 0.4;
}

.z2 {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.design-rules {
	height: 480px;
	width: 326px;
	background-color: #FFF;
}

.design-rules span {
	margin-top: 30%;
	color: rgba(92,104,112,1);
	font: 18px;
	line-height: 34px;
}

h2 {
	font-family: secondFont;
	font-size: 66px;
	text-align: left;
}