.content {
	margin: 40px auto 0 0;
	width: 100vw;
	max-width:100%;
	display: flex;
  	flex-direction: column;
	justify-content: flex-start;
	font-family: maybeFont;
}

.photo {
	margin: 8vh auto 0 auto;
	width: 250px;
	max-width: 550px;
    height: 270px;
    background-image: url("../img/photo.jpg"); 
    background-size: cover;
	border: 1px solid #FFF;
}

.box {
	height: 100vh;
	padding: 0 10vw;
}

.title {
	margin-top: 65px;
	font-size: 70px;
	font-weight: bolder;
	letter-spacing: 6px;
}

.text {
	margin: -70px auto 0 auto;
	width: 580px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 34px;
}

.down-arrow {
	margin-top: 80vh;
	margin-left: 48vw;
	width: 60px;
    max-width: 220px;
    height: 60px;
    background-image: url("../img/down-arrows.png"); 
    background-size: cover;
	opacity: 0.5;
    filter: alpha(opacity=50);
	position: fixed;
}

.med-icon {
	width: 260px;
    height: 240px;
	margin-bottom: 28px;
	border-radius: 100em;
	vertical-align: middle;
	box-shadow: 0 14px 6px -6px #ccc;
	border: 1px solid #FFF;
}

.lg-icon {
	width: 200px;
    height: 180px;
    background-size: cover;
	vertical-align: middle;
	margin-right: 10px;
}

.row {
	display: flex;
  	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.column span {
	width: 240px;
}

.box1 {
	height: 95vh;
}

.box2 {
	font: 16px lightFont;
	letter-spacing: 2px;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}