.nav {
  height: 6vh;
  width: 100vw;
  max-width:100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: fixed;
  background: rgba(92,104,112,1);
	opacity: 0.4;
}

.logo {
    margin: 10px 0 0 10px;
    height: 40px;
}