.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	height: 80px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.header .inner {
	width: 100%;
	margin: 0 auto;
	padding: 0 .775em;
}

.header .logo,
.header nav {
	display: inline-block;
	position: relative;
    z-index: 2;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the .header */
.header nav a {
	line-height: 80px;
}

.header .logo {
	margin: 0;
	float: left;
    padding-top: 10px;
    height: 50px;
}

.header nav {
	float: right;
}

.header nav a {
	font-weight: 400;
	font-size: 1.2em;
    margin-right: 20px;
}

.header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.header .logo,
.header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.header.header-shrink {
	height: 50px;
}

.header.header-shrink nav a {
	line-height: 50px;
}

.header.header-shrink .logo {
	padding-top: 6px;
    height: 40px;
}

.header.header-shrink .o {
	opacity: 0.6;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.header .inner {
		width: 100%;
	}

	.header .logo,
	.header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.header nav a {
		line-height: 115px;
	}

	.header nav a {
		margin: 0 10px;
	}

	.header.header-shrink nav a {
		line-height: 45px;
	}

	.header.header-shrink h1 {
		font-size: 2em;
	}

	.header.header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.header nav a,
	.header.header-shrink nav a {
		line-height: 1;
	}
}

.o {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(92,104,112,2);
    opacity: 0.2;
}