@font-face {
    font-family: firstFont;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: secondFont;
    src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: lightFont;
    src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: ultraLightFont;
    src: url("../fonts/Montserrat-UltraLight.otf");
}

@font-face {
    font-family: maybeFont;
    src: url("../fonts/open_sans.ttf");
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
	margin: 0 auto;
	width: 100vw;
	max-width:100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mgn-lg-top { margin-top: 30vh; }
.mgn-lg-rt { margin-right: 30vh; }
.mgn-lg-bot { margin-bottom: 30vh; }
.mgn-lg-lt { margin-left: 30vh; }

.mgn-med-top { margin-top: 20vh; }
.mgn-med-rt { margin-right: 20vh; }
.mgn-med-bot { margin-bottom: 20vh; }
.mgn-med-lt { margin-left: 20vh; }

.mgn-sm-top { margin-top: 10vh; }
.mgn-sm-rt { margin-right: 10vh; }
.mgn-sm-bot { margin-bottom: 10vh; }
.mgn-sm-lt { margin-left: 10vh; }

.row {
	display: flex;
  	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
}

:root {
    --white: #FFF;
    --off-white: #CCC;
    --grey: #D3D3D3;
    --baby-blue: #2AB0C5;
    --red: #FF0000;
}