@font-face {
    font-family: firstFont;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: secondFont;
    src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: lightFont;
    src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: ultraLightFont;
    src: url("../fonts/Montserrat-UltraLight.otf");
}

@font-face {
    font-family: maybeFont;
    src: url("../fonts/open_sans.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    font: 15px firstFont, Helvetica, Arial, sans-serif;
    color: var(--white);
    text-align: center;
    background: url("../img/Misty.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.content {
	margin: 0 auto;
	width: 100vw;
	max-width:100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mgn-lg-top { margin-top: 30vh; }
.mgn-lg-rt { margin-right: 30vh; }
.mgn-lg-bot { margin-bottom: 30vh; }
.mgn-lg-lt { margin-left: 30vh; }

.mgn-med-top { margin-top: 20vh; }
.mgn-med-rt { margin-right: 20vh; }
.mgn-med-bot { margin-bottom: 20vh; }
.mgn-med-lt { margin-left: 20vh; }

.mgn-sm-top { margin-top: 10vh; }
.mgn-sm-rt { margin-right: 10vh; }
.mgn-sm-bot { margin-bottom: 10vh; }
.mgn-sm-lt { margin-left: 10vh; }

.icon-sm {
    width: 60px;
    height: 50px;
	margin: 0 auto 5px auto;
}

.icon-med {
    width: 260px;
    height: 240px;
	margin-bottom: 22px;
	-moz-box-shadow: 0 0 10px var(--off-white); 
	-webkit-box-shadow: 0 0 10px var(--off-white); 
	box-shadow: 0 0 10px var(--off-white); 
}

.icon-lg {
    height: 180px;
	width: 100%;
    background-size: cover;
	margin-right: 10px;
	border-bottom: solid rgba(92,104,112,1) 6px;
	-moz-box-shadow: 0 0 10px var(--off-white);  
	-webkit-box-shadow: 0 0 10px var(--off-white); 
	box-shadow: 0 0 10px var(--off-white);
}

.row {
	display: flex;
  	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
}

:root {
    --white: #FFF;
    --off-white: #CCC;
    --grey: #D3D3D3;
    --baby-blue: #2AB0C5;
    --red: #FF0000;
}