@font-face {
    font-family: firstFont;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: secondFont;
    src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: lightFont;
    src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: ultraLightFont;
    src: url("../fonts/Montserrat-UltraLight.otf");
}

@font-face {
    font-family: maybeFont;
    src: url("../fonts/open_sans.ttf");
}

.lg-mgn-top { margin-top: 30vh; }
.lg-mgn-rt { margin-right: 30vh; }
.lg-mgn-bot { margin-bottom: 30vh; }
.lg-mgn-lt { margin-left: 30vh; }

.med-mgn-top { margin-top: 20vh; }
.med-mgn-rt { margin-right: 20vh; }
.med-mgn-bot { margin-bottom: 20vh; }
.med-mgn-lt { margin-left: 20vh; }

.sm-mgn-top { margin-top: 10vh; }
.sm-mgn-rt { margin-right: 10vh; }
.sm-mgn-bot { margin-bottom: 10vh; }
.sm-mgn-lt { margin-left: 10vh; }

.row {
	display: flex;
  	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
}