extends layout

block content
    div(id="wrapper")
        div(id="carousel")
            div(class="personal")
                div(class="bio")
                    h3 // Hi, I'm Nessa & I love to design.
                    p My passion for web design started when I was 10 years old. I would commonly used a website called, 'Neopets' & design user shops & guild websites with HTML/CSS. Ever since then I knew I wanted to be a web designer. As I got older & more interested in technology I thought it would be awesome to also learn how to code. So when looking for a university to study at I found the perfect degree at Neumont University! Now here I am about to graduate (in March!!!) from Neumont with a degree in <b>Web Design & Development</b> & a strong drive to improve my skills. 
                    p <b>Hobbies:</b> hiking, getting excited over neat websites, cuddles with dog, gaming, eating good food
                div(class="photo")
            div(class="technical")
                div(class="competencies")
                    h3 Core Competencies
                    p AngularJS <br>CSS3 <br>ExpressJS <br>HTML5 <br>JavaScript <br>LESS/SASS <br>MongoDB <br>NodeJS <br>ReactJS <br>Redux
                div(class="dev-tools")
                    h3 Development Tools
                    p Brackets <br>Eclipse <br>GitHub <br>Sublime Text <br>Visual Studio <br>Visual Studio Code
                div(class="skills")
                    h3 Skills
                    p Application Design <br>Database Design <br>Detail Oriented <br>Communication Skills <br>Problem Solving <br>Responsive & Innovative Web Design <br>Source Control <br>Time Management <br>UI/UX
        a(id="next" href="#")   