extends layout

block content
    header
        a(href="/")
            img(class="nav-logo", src="./images/PersonalLogoWhiteTxt.png")
        nav
            ul
                li
                    a(href="/about") About
                li
                    a(href="/projects") Projects
                li
                    a(href="/contact") Contact
    div(class="personal")
        div(class="bio")
            h3 Hi, I'm Nessa & I love to design.
            p My passion for web design started when I was 10 years old. I would commonly used a website called, 'Neopets' & design user shops & guild websites with HTML/CSS. Ever since then I knew I wanted to be a web designer. As I got older & more interested in technically I thought it would be awesome to also learn how to code. So when looking for a university to study at I found Neumont University. They had a perfect degree for me! Now here I am about to graduate (in March!!!) from Neumont with a degree in <b>Web Design & Development</b> & a strong drive to improve my skills. 
        div(class="photo")
    div(class="technical")
        div(class="competencies")
            h3 Core Competencies
            p
        div(class="dev-tools")
            h3 Development Tools
            p
        div(class="skills")
            h3 Skills
            p