extends layout

block content
  header
    img(src="./images/PersonalLogoWhiteTxt.png")
    nav
      ul
        li
          a(href="/about") about
        li
          a(href="/projects") projects
        li
          a(href="/contact") contact