footer
    p Created by Nessa Stabler 2017
    p(class="email") nessa.develops@gmail.com
    a(href="https://www.linkedin.com/in/jenessa-stabler")
        img(class="linkedin", src="./images/linkedin.png")