extends layout

block content
  div(class="container")
    img(src="./images/PersonalLogoWhiteTxt.png")
    h1 nessa stabler
    p full stack web developer 
    nav
      ul
        li
          a about
        li
          a projects
        li
          a contact