extends layout

block content
  div(class="container")
    img(class="home-logo" src="./images/PersonalLogoWhiteInitials.png")
    div
      h1 NESSA STABLER
      div(class="subtitle") WEB DESIGNER & DEVELOPER
      div(class="hobbies" id="rotate")
        div Avid Hiker
        div Devoted Dog Mama
        div Passionate Video Gamer
        div Meme Enthusiast
        div Aspiring Globe Trotter
    nav(class="home-nav")
      ul
        li
          a(href="/about") About
        li
          a(href="/projects") Projects
        li
          a(href="https://www.linkedin.com/in/jenessa-stabler") LinkedIn