extends layout

block content
  div(class="container")
    img(class="home-logo" src="./images/PersonalLogoWhiteTxt.png")
    h1 nessa stabler
    p(class="subtitle") Full Stack Web Developer 
    nav(class="home-nav")
      ul
        li
          a(href="/about") About
        li
          a(href="/projects") Projects
        li
          a(href="/contact") Contact