extends layout

block content
  div(class="container")
    img(class="home-logo" src="./images/PersonalLogoWhiteInitials.png")
    h1 nessa stabler_
    div(class="subtitle-container")
      p(class="subtitle")
    nav(class="home-nav")
      ul
        li
          a(href="/about") About
        li
          a(href="/projects") Projects
        li
          a(href="https://www.linkedin.com/in/jenessa-stabler") LinkedIn