extends layout

block content
  div(class="container")
    img(class="home-logo" src="./images/PersonalLogoWhiteInitials.png")
    div
      h1 nessa stabler_
      div(class="subtitle" id="rotate")
        div Wev Designer + Developer
        div Dog Lover
        div Passionate Hiker
        div Avid Gamer
        div Meme Addict
    nav(class="home-nav")
      ul
        li
          a(href="/about") About
        li
          a(href="/projects") Projects
        li
          a(href="https://www.linkedin.com/in/jenessa-stabler") LinkedIn