<link rel='stylesheet', href='app/css/about.css'></link>
<div class="nav" ng-include src="'app/templates/nav.html'"></div>
<div class="content">
	<div class='box'>
		<div class="photo"></div>
		<p class="title">HELLO</p>
		<p class="text">I'm glad you stumbled upon my website. My name is Nessa. I love creating &amp; coding beautiful websites.</p>
	</div>
	<div class="down-arrow"></div>
	<div class='box box2'>
		<div class='row med-mgn-bot'>
			<div><img class='med-icon' src="/app/img/graduate.png"/>1 degree in Web Design &amp; Development</div>
			<div><img class='med-icon' src="/app/img/chili.png"/>6 hot sauce brands owned</div>
			<div><img class='med-icon' src="/app/img/mountain.png"/>12 mountains scaled</div>
		</div>
		<div class='row' >
			<div><img class='med-icon' src="/app/img/shirt.png"/>10 flanels owned</div>
			<div><img class='med-icon' src="/app/img/code.png"/>8 programming languages known</div>
			<div><img class='med-icon' src="/app/img/dog.png"/>1 dog owned</div>
		</div>
	</div>
	<div class='box row'>
		<div><img class='lg-icon' src="/app/img/linkedin.png"/>planning stuffstuffstuff</div>
		<div><img class='lg-icon' src="/app/img/linkedin.png"/>simple unique direct designs</div>
		<div><img class='lg-icon' src="/app/img/linkedin.png"/>responsive &amp; compatible on all devices</div>
	</div>
</div>