<link rel='stylesheet', href='app/css/home.css' />
<script src="app/js/textrotate.js"></script>
<div class="home-content">
	<img class="home-logo" src="app/img/PersonalLogoWhiteInitials.png"/>
	<div>
		<h1>NESSA STABLER</h1>
		<div class="subtitle">WEB DESIGNER & DEVELOPER</div>
		<div class="hobbies" id="rotate">
			<div>Avid Hiker</div>
			<div>Devoted Dog Mama</div>
			<div>Passionate Video Gamer</div>
			<div>Meme Enthusiast</div>
			<div>Aspiring Globe Trotter</div>
		</div>
	</div>
	<div class="nav" ng-include src="'app/templates/home-nav.html'"></div>
</div>