.personal, .technical {
	width: 900px;
	height: 525px;
}

.personal h3, .technical h3 {
    color: #0C314C;
}

.personal p, .technical p {
    color: #494949;
}

.bio {
	width: 450px;
	float: left;
    font-size: 14px;
	margin-top: 50px;
}

.bio p {
    line-height: 30px;
}

.photo {
	width: 400px;
    max-width: 580px;
    height: 450px;
	float: right;
	margin: 35px 10px 0 0;
    background-image: url("../images/nessa2.jpg"); 
    background-size: cover;
}

.technical {

}

.technical h3 {
    font-size: 24px;
}

.competencies p, .dev-tools p, .skills p {
    line-height: 25px;
}

.competencies, .dev-tools {
}

#wrapper {
	background-color: #fff;
	width: 1000px;
	height: 525px;
	padding: 10px;
	margin: -265px 0 0 -410px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 10px #666;
}
#carousel {
	width: 1000px;
	height: 525px;
	overflow: hidden;
}
#carousel img {
	border: none;
	display: block;
	margin-left: -300px;
	float: left;
	position: relative;
	z-index: 0;
	box-shadow: 0 0 10px #333;
}
#next {
	background: url( img/gui-next.png ) center center no-repeat #999;
	display: block;
	width: 100px;
	height: 525px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
	opacity: 0.1;
 
	-o-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
#next:hover {
	opacity: 0.5;
}