.personal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bio {
    font-size: 14px;
    width: 50vw;
    margin: 30px 30px 0 50px;
}

.personal h3, .technical h3 {
    color: #0C314C;
}

.personal p, .technical p {
    color: #494949;
}

.bio p {
    line-height: 30px;
    margin-bottom: 40px;
}

.photo {
    background-image: url("../images/nessa.jpg"); 
    background-repeat: no-repeat; 
    background-position: center bottom; 
    background-size: cover;
    width: 50%;
    max-width: 580px;
    height: 550px;
}

.technical {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px 50px 0 50px;
}

.technical h3 {
    font-size: 24px;
}

.competencies p, .dev-tools p, .skills p {
    line-height: 25px;
}

.competencies, .dev-tools {
    margin-right: 40px;
}