.home-logo {
  height: 80px;
}

h1 {
  font-family: secondFont;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  margin-top: -46px;
  letter-spacing: 10px;
}

.home-nav ul li {
  padding: 35px;
}

.home-nav ul li a {
  border: 5px solid rgba(0, 0, 0, 0.3);
}

.home-nav ul li a:hover {
  background-color:rgba(0, 0, 0, 0.4);
}