.home-logo {
  height: 80px;
  margin-top: 20px;
}

h1 {
  font-family: secondFont;
  margin-top: 170px;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin-top: -40px;
  font-size: 14px;
}

.home-nav {
  margin-top: 120px;
}

.home-nav ul li {
  padding: 35px;
}

.home-nav ul li a {
  border: 2px solid #5E5E5E;
}

.home-nav ul li a:hover {
  border: 2px solid #FFF;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}