@font-face {
    font-family: firstFont;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: secondFont;
    src: url("../fonts/Montserrat-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  font: 15px firstFont, Helvetica, Arial, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/Water-Tree.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
}

ul li a {
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px;
}