@font-face {
    font-family: firstFont;
    src: url("../fonts/Kirvy-Regular.otf");
}

@font-face {
    font-family: secondFont;
    src: url("../fonts/Orkney-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  font: 15px firstFont, Helvetica, Arial, sans-serif;
  background: url("../images/Water-Tree.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  text-transform: capitalize;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 150px;
}

h1 {
  font-family: secondFont;
  margin-top: 160px;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin-top: -60px;
  font-size: 18px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
}

ul li a {
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px;
}